<!DOCTYPE html>
<html>
<head>
<title>Books</title>
    <meta charset="utf-8" />
    <link href="custom.css" type="text/css" rel="stylesheet" />

    <style>
    @import url('https://fonts.googleapis.com/css?family=Lobster');
    </style>

</head>
<body>
    <div id="wrapper">
        <div id="header">
<a href="home.html" style="text-decoration:none"><h1>Books</h1></a>
                     <div id="search">
                <input type="text" name="searchbar" value="Search">
            </div>
        </div>
        <div id="navigation">
            <ul class="navi">
                <li> <div class="dropdown">
                     <button class="dropbtn">Genres</button>
                       <div class="dropdown-content">
                         <a href="genres.html">Science Fiction</a>
                         <a href="genres.html">Young Adult</a>
                         <a href="genres.html">Kids</a>
                       </div> </div> </li>
                <li><a href="best.html">Best Selling</a></li>
                <li><a href="deals.html">Deals</a></li>
                <li><a href="favorites.html">Our Favorites</a></li>
                <li><a href="account.html">Account</a></li>
                <li><a href="cart.html">Cart</a></li>
            </ul>
        </div>
        <div id="content">
            <div id="create">
                <p> Please <a href="signin.html">sign in</a> or <a href="create.html">create an account</a> to checkout </p>
            </div>
       </div>
        <div id="footer">
            <ul class="footer">
                <li><a href="support.html">Support</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
