<!DOCTYPE html>
<html>
<head>
<title>Books</title>
    <meta charset="utf-8" />
    <link href="custom.css" type="text/css" rel="stylesheet" />

    <style>
    @import url('https://fonts.googleapis.com/css?family=Lobster');
    </style>

</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="book.png" style="position: absolute; height: 80px"/>
            <a href="home.html" style="text-decoration:none"><h1><small>your</small>Shelf</h1></a>
            <div id="search" >
                <input type="text" name="searchbar" value="Search" style="height:25px; border: 1px solid gray; float:relative;padding-right:0px">
                <div class="bropdown" style="float: absolute; height: 29px;padding-left:3px;padding-right:80px">
                    <button class="bropbtn" style="float: absolute;height: 29px;">Search by &nabla;</button>
                      <div class="bropdown-content">
                         <a> Title  </a> 
                         <a> Author </a> 
                         <a> ISBN   </a> 
                         <a> year   </a> </div></div>
           </div>
        </div>
        <div id="navigation">
            <ul class="navi">
                <li> <div class="dropdown">
                     <button class="dropbtn">Genres</button>
                       <div class="dropdown-content">
                         <a href="genres.html">Science Fiction</a>
                         <a href="genres.html">Young Adult</a>
                         <a href="genres.html">Kids</a>
                       </div> </div> </li>
                <li><a href="best.html">Best Selling</a></li>
                <li><a href="deals.html">Deals</a></li>
                <li><a href="favorites.html">Our Favorites</a></li>
                <li style="float: right; padding-right: 95px"><a href="account.html">Account</a></li>
                <li style="float: right; padding-top: 0px"><a href="cart.html" style="padding-top: 0px"><img src="cart.png" style="height: 38px; align: top; border: 1.5px solid white; border-radius: 20px"  /></a></li>
            </ul>
            <div class="bropdown" style="float: right; padding-right: 10px; height: 20px; width:80px">
                    <button class="bropbtn" style="height: 35px; background: #DB7093"><a href="signin.html" style="color:white; text-decoration:none">LOG IN</a></button>
                      <div class="bropdown-content" style="padding: 20px">
                          <div id="username">
                              <input type="text" name="username" value="Username" style="width: 120px">
                          </div>
                          <div id="password">
                              <input type="password" name="password" value="Password" style="width: 120px">
                         </div>
                          <button style="height: 30px">
                          <a href="account.html">Enter</a> 
                            </button></div></div>
        </div>
        <div id="content-background">
        <div id="content">
            <div id="create">
                <p> Please <a href="signin.html">sign in</a> or <a href="create.html">create an account</a> to checkout </p>
            </div>
            <div id="pageTitle">
               Checkout
            </div>
            <p> Shipping Information:</p><table>
                <tr><th>
                First Name
                </th><th>  
                <input type="text" name='fname' value="Sally"><br/>
                </th></tr><tr><th>
                Last Name
                </th><th>  
                <input type="text" name="lname" value="Smith"><br/>
                </th></tr><tr><th>
                Phone No.
                </th><th>  
                <input type="text" name="pnumb" value="3193193199"><br/>
                </th></tr><tr><th>
                Shipping Address: 
                </th><th>  
                <input type="text" name="ship" value="1004 Cedar Street"><br/>
                          <input type="text" name="ship" value="Athens, GA 30602"></p>
                </th></tr></table>
            <p> Billing Information:</p><table>
                <tr><th>
                First Name
                </th><th>  
                <input type="text" name='fname' value="Sally"><br/>
                </th></tr><tr><th>
                Last Name
                </th><th>  
                <input type="text" name="lname" value="Smith"><br/>
                </th></tr><tr><th>
                Credit No.
                </th><th>  
                <input type="password" name="ccard" value="1111111111"><br/>
                </th></tr><tr><th>
                CRN 
                </th><th>  
                <input type="text" name="cvn" value="111"><br/>
                </th></tr><tr><th>
                Exp. Date  
                </th><th>  
                <input type="text" name="cdate" value="01/01/2001"><br/>
                </th></tr><tr><th>
                Shipping Address: 
                </th><th>  
                <input type="text" name="ship" value="1004 Cedar Street"><br/>
                          <input type="text" name="ship" value="Athens, GA 30602"></p>
                </th></tr></table>
            <p> Special Instructions 
                <input type="text" name='fname' value="Leave on back porch"></p>
            <p> Promotion Codes 
                <input type="text" name='promocode1' value="NEWMEM"><br/>
                <input type="text" name='promocode2' value="50SHIP" style="margin-left:105px"><p/>
         <div><table style="width:60%; padding-top:50px;">
           <tr>
             <th>Product</th>
             <th>Quantity</th> 
             <th>Price</th> 
           </tr>
           <tr>
             <td>bookTitle (Hard Copy)</td>
             <td></td> 
             <td>$13.00</td>
           </tr>
           <tr>
             <td>bookAuthor</td>
             <td> 
               </td> 
               <td>-$3.00</td>
           </tr>
           <tr>
             <td>bookISBN</td> 
             <td>2</td>
             <td>$10.00</td>
           </tr><tr><th></th><th></th><th></th></tr>
           <tr>
             <td>bookTitle (Hard Copy)</td>
             <td></td> 
             <td>$12.00</td>
           </tr>
           <tr>
             <td>bookAuthor</td>
             <td></td> 
               <td>-$2.00</td>
           </tr>
           <tr>
             <td>bookISBN</td> 
             <td>2</td>
             <td>$10.00</td>
           </tr><tr><th></th><th></th><th></th></tr>
           <tr>
             <td>Total</td> 
             <td>2</td>
             <td><b>$20.00</b></td>
           </tr><tr style="height:120px; vertical-align: bottom"><td style="width: 60%"></td><td style="width: 30%"></td><td style="width: 20%"> 
              <div class="button2"> <button> <a
                  href = 'cart.html'>Return to Cart</a>
              </button></tr>
              </tr><tr style="height:50px; vertical-align: bottom"><td style="width: 60%"></td><td style="width: 30%"></td><td style="width: 20%"> 
              <div class="button2"> <button> <a
                  href = 'checkoutConfirm.html'>Confirm Purchase</a>
              </button></tr></table> </div>
        </div></div>
        <div id="footer">
            <ul class="footer">
                <li><a href="support.html">Support</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
