html {
    position: relative;
    height: 100%;
    margin:0;
    padding: 0;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
    margin-bottom: 60px;
    padding-top: 10px;
}

p {
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#header {
    float: left;
    height: 75px;
    width: 1000px;
    background: #3d6594;
}


#header h1 {
    font-family: Lobster;
    color: #fff;
    font-size: 35px;
}

#search{
    float: right;
    position: absolute;
    top: 2em;
    right: 300px;
}

#navigation {
    float: left;
    height: 40px;
    width: 1000px;
    background: #b8c7d6;
}

#content {
    float: left;
    background: #FFFFFF;
    width: 1000;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 1000px;
  height: 60px;
  background-color: #b8c7d6;
}


/* Dropdown button */
.dropbtn {
    height: 40px;
    background: #b8c7d6;
    border: none;
    cursor: pointer;
    padding: 16px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #DB7093;
}
