<!DOCTYPE html>
<html>
<head>
<title>Books</title>
    <meta charset="utf-8" />
    <link href="custom.css" type="text/css" rel="stylesheet" />

    <style>
    @import url('https://fonts.googleapis.com/css?family=Lobster');
    </style>

</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>Books</h1>
            <div id="search">
                <input type="text" name="searchbar" value="Search">
            </div>
        </div>
        <div id="navigation">
            <ul class="navi">
                <li> <div class="dropdown">
                     <button class="dropbtn">Genres</button>
                       <div class="dropdown-content">
                         <a href="genres.html">Science Fiction</a>
                         <a href="genres.html">Young Adult</a>
                         <a href="genres.html">Kids</a>
                       </div> </div> </li>
                <li><a href="best.html">Best Selling</a></li>
                <li><a href="deals.html">Deals</a></li>
                <li><a href="favorites.html">Our Favorites</a></li>
                <li><a href="account.html">Account</a></li>
                <li><a href="cart.html">Cart</a></li>
            </ul>
        </div>
        <div id="content">
            <div id="pageTitle">
               Kids
            </div>
                  <div class="bropdown">
                    <button class="bropbtn">Sort By &nabla;</button>
                      <div class="bropdown-content">
                         <a> ABC &#x2193;</a> 
                         <a> ABC &#x2191;</a> 
                         <a> price &#x2193;</a> 
                         <a> price &#x2191;</a> 
            </div> </div>
            <ul class = "bookList">
               <li><a href="bookInfo.html">
                   <div class="boxed">
                          <div class = "cover">
                             <img src="cover1.jpg" />
                          </div> 
                         <p> <br/><br/> Cat in the Hat <br/>
                          Dr. Seuss <br/>
                          $15.00 <br/>
                          <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                         </p>
                   </div></a>
               </li>
               <li><a href="bookInfo.html">
                   <div class="boxed">
                          <div class = "cover">
                             <img src="cover2.jpg" />
                          </div> 
                         <p> <br/><br/> Fox in socks <br/>
                          Dr. Seuss <br/>
                          $11.00 <br/>
                          <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                         </p>
                   </div></a>
               </li>
            </ul>
       </div>
        <div id="footer">
            <ul class="footer">
                <li><a href="support.html">Support</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
