<!DOCTYPE html>
<html>
<head>
<title>Books</title>
    <meta charset="utf-8" />
    <link href="custom.css" type="text/css" rel="stylesheet" />
    <style>
    @import url('https://fonts.googleapis.com/css?family=Lobster');
    </style>

</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>Books</h1>
            <div id="search">
                <input type="text" name="searchbar" value="Search">
            </div>
        </div>
        <div id="navigation">
            <ul class="navi">
                <li> <div class="dropdown">
                     <button class="dropbtn">Genres</button>
                       <div class="dropdown-content">
                         <a href="genres.html">Science Fiction</a>
                         <a href="genres.html">Young Adult</a>
                         <a href="genres.html">Kids</a>
                       </div> </div> </li>
                <li><a href="best.html">Best Selling</a></li>
                <li><a href="deals.html">Deals</a></li>
                <li><a href="favorites.html">Our Favorites</a></li>
                <li><a href="account.html">Account</a></li>
                <li><a href="cart.html">Cart</a></li>
            </ul>
        </div>
        <div id="content">
            <p> This page will vary based on type of user.  If a member it will be </p>
            <div id="pageTitle">
               Member Dashboard
            </div>
            <p>First Name  <input type="text" name='fname' value="Sally"><br/>
                Last Name  <input type="text" name="lname" value="Smith"><br/>
                Email&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <input type="text" name="email" value="SalSmi@gmail.com"><br/>
                Address &nbsp&nbsp&nbsp <input type="text" name="address1" value="1004 Cedar Street"><br/>
                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   <input type="text" name="address2" value="Athens, GA 30602"></p>
                <p> <div class = "button2"> <a href="loggedIn.html" style="text-decoration: none;" color="#fff;">Update Info</a> </div> </p>
                <p ><div class = "button2"> <a href="orderHistory.html" style="text-decoration: none;">Order History</a> </div> </p>
                <p ><div class = "button2"> <a href="signin.html" style="text-decoration: none;">Sign Out</a> </div> </p>
            <div id="pageTitle">
               Shipment Dashboard
            </div>
            <p>First Name  <input type="text" name='fname' value="Sally"><br/>
                Last Name  <input type="text" name="lname" value="Smith"><br/>
                Email&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <input type="text" name="email" value="SalSmi@gmail.com"><br/>
                Address &nbsp&nbsp&nbsp <input type="text" name="address1" value="1004 Cedar Street"><br/>
                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   <input type="text" name="address2" value="Athens, GA 30602"></p>
                <p> <a href="loggedIn.html" style="text-decoration: none;"><div class = "button2"> Update Info </div></a> </p>
                <p ><div class = "button2"> <a href="orderHistory.html" style="text-decoration: none;">Open Orders</a> </div> </p>
                <p ><div class = "button2"> <a href="signin.html" style="text-decoration: none;">Sign Out</a> </div> </p>
            <div id="pageTitle">
               Supplier Dashboard
            </div>
            <p>First Name  <input type="text" name='fname' value="Sally"><br/>
                Last Name  <input type="text" name="lname" value="Smith"><br/>
                Email&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <input type="text" name="email" value="SalSmi@gmail.com"><br/>
                Address &nbsp&nbsp&nbsp <input type="text" name="address1" value="1004 Cedar Street"><br/>
                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   <input type="text" name="address2" value="Athens, GA 30602"></p>
                <p> <div class = "button2"> <a href="loggedIn.html" style="text-decoration: none;">Update Info</a> </div> </p>
                <p ><div class = "button2"> <a href="loggedIn.html" style="text-decoration: none;">Update Catologue</a> </div> </p>
                <p ><div class = "button2"> <a href="signin.html" style="text-decoration: none;">Sign Out</a> </div> </p>
        </div>
        <div id="footer">
            <ul class="footer">
                <li><a href="support.html">Support</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
