<!DOCTYPE html>
<html>
<head>
<title>Books</title>
    <meta charset="utf-8" />
    <link href="custom.css" type="text/css" rel="stylesheet" />

    <style>
    @import url('https://fonts.googleapis.com/css?family=Lobster');
    </style>

</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="book.png" style="position: absolute; height: 80px"/>
            <a href="home.html" style="text-decoration:none"><h1><small>your</small>Shelf</h1></a>
            <div id="search" >
                <input type="text" name="searchbar" value="Search" style="height:25px; border: 1px solid gray; float:relative;padding-right:0px">
                <div class="bropdown" style="float: absolute; height: 29px;padding-left:3px;padding-right:80px">
                    <button class="bropbtn" style="float: absolute;height: 29px;">Search by &nabla;</button>
                      <div class="bropdown-content">
                         <a> Title  </a> 
                         <a> Author </a> 
                         <a> ISBN   </a> 
                         <a> year   </a> </div></div>
           </div>
        </div>
        <div id="navigation">
            <ul class="navi">
                <li> <div class="dropdown">
                     <button class="dropbtn">Genres</button>
                       <div class="dropdown-content">
                         <a href="genres.html">Science Fiction</a>
                         <a href="genres.html">Young Adult</a>
                         <a href="genres.html">Kids</a>
                       </div> </div> </li>
                <li><a href="best.html">Best Selling</a></li>
                <li><a href="deals.html">Deals</a></li>
                <li><a href="favorites.html">Our Favorites</a></li>
                <li style="float: right; padding-right: 95px"><a href="account.html">Account</a></li>
                <li style="float: right; padding-top: 0px"><a href="cart.html" style="padding-top: 0px"><img src="cart.png" style="height: 38px; align: top; border: 1.5px solid white; border-radius: 20px"  /></a></li>
            </ul>
            <div class="bropdown" style="float: right; padding-right: 10px; height: 20px; width:80px">
                    <button class="bropbtn" style="height: 35px; background: #DB7093"><a href="signin.html" style="color:white; text-decoration:none">LOG IN</a></button>
                      <div class="bropdown-content" style="padding: 20px">
                          <div id="username">
                              <input type="text" name="username" value="Username" style="width: 120px">
                          </div>
                          <div id="password">
                              <input type="password" name="password" value="Password" style="width: 120px">
                         </div>
                          <button style="height: 30px">
                          <a href="account.html">Enter</a> 
                            </button></div></div>
        </div>
            <h1>Books</h1>
            <div id="search">
                <input type="text" name="searchbar" value="Search">
            </div>
        </div>
        <div id="navigation">
            <ul class="navi">
                <li> <div class="dropdown">
                     <button class="dropbtn">Genres</button>
                       <div class="dropdown-content">
                         <a href="genres.html">Science Fiction</a>
                         <a href="genres.html">Young Adult</a>
                         <a href="genres.html">Kids</a>
                       </div> </div> </li>
                <li><a href="best.html">Best Selling</a></li>
                <li><a href="deals.html">Deals</a></li>
                <li><a href="favorites.html">Our Favorites</a></li>
                <li><a href="account.html">Account</a></li>
                <li><a href="cart.html">Cart</a></li>
            </ul>
        </div>
        <div id="content">
            <div id="pageTitle">
               Order History
            </div>
            <p>Order Number: 0001122<br/>
            Order Date: 01/01/2001<br/>
            Order Items: Begin List</p>
                
            <p>Order Number: 0001123<br/>
            Order Date: 01/01/2000<br/>
            Order Items: Begin List</p>
                
            <p ><div class = "button2"> <a href="account.html" style="text-decoration: none;">Back to Account</a> </div> </p>
       </div>
        <div id="footer">
            <ul class="footer">
                <li><a href="support.html">Support</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
